.main{
    background: rgb(0 0 0 / 45%) url(https://images.unsplash.com/photo-1505238680356-667803448bb6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) no-repeat center center/cover;
    background-blend-mode: darken;    
    margin-top:3%;
    width:100%;
    height:100vh;
}
.start{
  margin-left:14%;
}
.startp
{
  display: flex;
  flex-flow:row;
}
.letter
{
  letter-spacing: 0.2rem;
}
@media only screen
   and (max-width : 490px) {
.heading{
  font-size:6vw;
  margin-top:10%;
  margin-bottom: 20px;
}
.letter{
  font-size:5vw;
}
.main{
  height:150vh;
}
.startp
{
  flex-flow:column;
}
}

@media only screen
   and (max-width :768px) {
.startp
{
  flex-flow:column;
}
}

@media only screen
   and (max-width :1024px) {
.startp
{
  flex-flow:column;
}
}
